<!DOCTYPE html>
<html>
  <head>
    <title>Medium Clone - <%= article.title %></title>
  </head>
  <body>
    <h1><%= article.title %></h1>
    <p><%= article.content %></p>
    <button>Read More..</button>
    <button>Edit</button>
    <button>Delete</button>
  </body>
</html>
